.App {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

.container {
	margin-top: 24px;
	display: flex;
	justify-content: space-around;
}

.search-bar {
	margin-top: 24px;
	margin-bottom: 48px;
	margin-left: 80px;
	margin-right: 80px;
}

.heading {
	display: flex;
	width: 220px;
	height: 120px;
	justify-content: center;
	align-content: center;
	/* flex-direction: column; */
}

.heading-text {
	margin-top: 12px;
	font-size: medium;
	font-weight: bold;
}

.daily-temp {
	margin-top: 24px;
	display: flex;
	justify-content: space-evenly;
}

.daily-temp-row {
	border: 1px solid black;
	padding: 12px;
	height: 120px;
	width: 180px;
	border-radius: 12px;
}
